body {
    background-color: #FFFFFF;
    color: #222;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
}
title{
    background-color: #aaa;
    text-align: center;
    color: #222;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
}
